.container_right {
  margin-top: 20px;
  flex-grow: 1;
}

.tab_info {
  display: flex;
}

.tab_box_1 {
  width: 140px;
  height: 126px;
}

.tab_box_1 td,
.tab_box_3 td,
.tab_box_5 td {
  color: #9e9e9e;
  font-size: 14px;
}

.tab_box_1 .patient_name {
  color: black;
  font-size: 15px;
  font-weight: 500;
}

.tab_box_2 {
  margin-top: 34px;
  width: 112px;
  height: 92px;
}

.tab_box_2 td,
.tab_box_4 td,
.tab_box_6 td {
  font-size: 14px;
  font-weight: 500;
}
.tab_box_3 {
  height: 160px;
  width: 110px;
}

.tab_box_3 td {
  padding: 3px;
}

.tab_box_5,
.tab_box_6 {
  height: 100px;
}

.tab_box_5 {
  margin-right: 16px;
}

.tab_box_5 td {
  padding: 2px;
}

.top_sec {
  background-color: #eeeeee;
  padding-bottom: 16px;
}

.rightSec_title {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  flex-wrap: wrap;
}

.date_status {
  display: flex;
}

.table_flex {
  display: flex;
}

.value {
  color: black;
  font-weight: 600;
  margin-left: 8px;
}

.pro_pic {
  border-radius: 50%;
  align-self: flex-start;
  position: relative;
  top: 15px;
  width: 80px;
  margin-right: 16px;
}

.table_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.surgery_status {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tab_items_md {
  list-style-type: none;
  display: none;
  flex-wrap: wrap;
  margin-left: 30px;
}

.tab_item {
  background-color: #f5f5f5;
  border-radius: 3px;
}

.active_text {
  color: #0091ea !important;
  font-weight: 500;
}

.active_tab {
  margin-top: 27px !important;
}

.tab_items_xs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* flex-direction: column; */
}
.pat_history {
  margin-left: 16px;
  display: none;
}

@media (min-width: 1200px) {
  .tab_items_md {
    display: flex;
    padding: 0;
  }
  .top_sec {
    padding-bottom: 0;
  }

  .tab_items_xs {
    display: none;
  }
  .backDrop {
    display: none;
  }

  .pat_history {
    display: block;
  }

  .active_tab {
    margin-bottom: auto;
  }
}

/* @media (min-width: 700px) and(max-width:950px) {
  .chro_1 {
    width: 50%;
  }

  .chro_2{

  }

  .chro_3{

  }

  .chro_4 {
    order: 1;
    width: 50%;
    align-items: center;
  }
} */
